<div class="flex gap-8 head">
    <div>
    <div *ngFor="let categories of category" class="flex flex-col gap-2">
        <div class='cursor' (click)="gotoProductList(categories.id)">{{categories.name}}</div>
    </div>
    </div>
    <div class="grid grid-cols-4 gap-8 w-full" *ngIf="!isLoading && product.length>0">
        <div *ngFor="let products of product" class="">
            <div class="border">
                <a  class="w-[50%] sm:w-[40%] md:w-full overflow-hidden"  (click)="gotoProductDetail(products.id,products)">
                    <img class="h1"
                    [src]="products.images[0]"
                    [alt]="products.title" />
                </a>
                
                <div class="flex flex-col justify-stretch self-center p-5 w-[60%] md:w-full">
                    <a >
                        <h5 class="mb-2 text-sm tracking-tight text-gray-900 dark:text-white ">{{products.title}}</h5>
                    </a>
                    <p class="text-sm text-gray-700 dark:text-gray-400">
                        <span class="font-bold mr-3">&#8377;{{products.price}}</span> 
                        <span class="line-through mr-3">&#8377;{{products.prevprice}}</span> 
                     </p>  
                     <button (click)="addToCart(products)"
                     aria-label="add to Cart"
                     class="bg-white border border-gray-300 rounded "
                     title="Add to Cart"
                     >
                         Add to cart
                     </button>
                 </div>
            </div>
        </div>
    </div>
</div>