<header class="head">
  <nav class="flex gap-2">
    <div class="gap-2 flex">
      <a routerLink="/" class="flex items-center cursor-pointer gap-2">
        <img src="assets/images/logo.svg" alt="logo" class="w-[40px] md:w-[50px]" />
        <span class=>Flowbite</span>
      </a>
    </div>
    <div class="space">
      <div class="flex gap-2">
        <a routerLink="/" class="">
          <div>Home</div>
        </a>
        <a routerLink="/about" class="">
        <div (click)="clickAbout()" class="cursor">About</div>
        </a>
        <a routerLink="/service" class="">
        <div (click)="clickServices()" class="cursor">Services</div>
        </a>
      </div>
      <div>
      <div>
        <div (click)="clickCart()">
          <img src="assets/images/cart1.jfif" alt="cart.jfif" class="w-[30px] md:w-[40px] cursor border" />
          <span class="number">{{cartlength}}</span>
        </div>

      </div>
      <div *ngIf="opencart">
        <div class="f1 gap-2">
          <div class="flex justify-between">
            <div>My Cart</div>
            <a class="cursor cross" (click)="closeNav()">&times;</a>
          </div>
          <div *ngFor="let cartdata of cart" class="flex gap-2">
            <img class="w-[50px] md:w-[60px]" [src]="cartdata.images[0]" [alt]="cartdata.title" />
            <div class='cursor'>{{cartdata.title}}</div>
            <div class='cursor'>{{cartdata.price}}</div>
          </div>
          <div class="flex justify-between">
            <div>Total</div>
            <div>{{total}}</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </nav>

</header>